fail_fast: false
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort .
        pass_filenames: false
        language: system